import os

PROJECT_DIR = os.path.abspath(os.path.dirname(__file__))
TOP_DIR = os.path.abspath(os.path.dirname(PROJECT_DIR))

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@domain.com'),
)
MANAGERS = ADMINS

DATABASES = {
    'default': {
        'NAME': os.path.join(TOP_DIR, 'local.sqlite'),
        'ENGINE': 'django.db.backends.sqlite3',
    },
}


def setup(settings):
    """
    This function is called before the final settings are passed to
    django.

    This hook can be used to modify the value of settings
    rather than overwriting them.
    """
    # Ex: install an app:
    # settings['INSTALLED_APPS'].extend([
    #     'my_debug_app',
    # ])
    pass
